<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <link id="favicon" rel="icon" href="https://cdn.rawgit.com/pkoepke/node_sqlite_button_pusher_1/master/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="en">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Articleify - make simple articles</title>
  </head>
  <body>
    <div class="everythingDiv">
    <header>
      <h1>Articleify - make simple articles</h1>
    </header>

    <main>
      <a href="/allArticlesList">All Articles List</a>
      <hr>
      <div class="buttonsDiv">
        <form id="makeArticleFromHtmlUrlForm" action="/makeArticleFromHtmlUrl" method="post">
          <label>URL: <input type="url" value="" name="url" id="urlInput" /></label>
          <input type="submit" value="Make article from URL" id="makeArticleFromHtmlUrlButton" />
        </form>
        <hr>
        <form id="makeArticleFromTextForm" action="/makeArticleFromText" method="post">
          <label>Article title (optional): <input type="text" value="" name="articleTitle" id="articleTitleInput" /></label>
          <br><label>Article text: <textarea name="articleText" id="articleTextInput"></textarea></label>
          <input type="submit" value="Make article from text" id="makeArticleFromTextButton" />
        </form>
        <hr>
        <form id="makeArticleFromFileUploadForm" action="/makeArticleFromFileUpload" method="post">
          <label>File upload: <input type="file" value="" name="file" id="file" /></label>
          <input type="submit" value="Make article from file" id="makeArticleFromFileUploadButton" />
        </form>
      </div>
        <div id="loadingSpinnerDiv" class="loadingSpinnerDiv"><img id="loadingSpinnerImg" src="https://cdn.glitch.com/1dfaea6a-e65e-49f4-8703-f550387a91b6%2Floading_spinner.gif?1493145152988" ></div>
      <div id="outputDiv" class="outputDiv"></div>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="/client.js"></script>

  </body>
</html>
